.loading-pickinghub{
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 15em;
    
    h1{
        font-family: $font_cursive;
        color: $ocen_blue;
        margin: 0 !important;
        @media (max-width : 420px){
            font-size: 1.6em;
        }
    }
}