.orders{
    height: 100vh;
    width : 100vw;
    overflow: auto;
    .title{
        @include gradient_text($midnight,$forest_green);
        margin : 0.3em auto;
        display: flex;
        align-items: center;
       
        
    }
    .orders-list{
        margin-bottom : 6em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .single-order{
            width : 300px;
            margin : 0.8em 0;
            .sum{
                color: darken($forest_green,10%);
                a{
                    text-decoration: none;
                    color: darken($forest_green,10%);
                }
            }
            .timestamp{
                display: flex;
                justify-content: space-evenly;
                margin : 0.2em 0;
                font-family: $font_para;
                background-color: $meat_brown;
                padding : 0.4em;
                color: $maastricth_blue;
                font-weight: bold;
                border-radius: 5px;
            }
            .status{
                width : 300px;
                margin : 0.3em 0;
                p {
                    width : 300px;
                    text-align: center;
                    font-family: $font_cursive;
                    margin : 0.2em 0;
                    border-radius: 5px;
                    color: white;
                    padding : 0.3em 0;
                }
                .true{
                    background-color: darken($forest_green,10%);
                }
                .false{
                    background-color: $crimson;
                }
            }
            .not-estimated{
                font-family: $font_para;
                color: lighten($crimson,10%);
                font-size: 0.9em;
            }
            .estimation{
                font-family: $font_para;
                display: flex;
                color: darken($forest_green,16%);
                justify-content: space-evenly;
                font-weight: bold;
            }
        }
    }
}