.profile{
    height: 100vh;
    width : 100vw;
    overflow: auto;
    padding-bottom: 6em;
    .no{
        font-family: $font_para;
        display: flex;
        width : 300px;
        margin : 0.3em auto;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.3em;
        border : 1px solid $crimson;
        padding : 0.3em 0.7em;
        color : darken($meat_brown , 25%);
        a{
            text-decoration: none;
            color: $ocen_blue;
        }
    }
    .user-info{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin : 0.5em 0;
        img{
            height: 300px;
            width : 300px;
            border-radius: 50%;
            object-fit: cover;
        }
        h1{
            @include gradient_text($midnight,$ocen_blue)
        }
        p{
            font-family: $font_cursive;
            color: $maastricth_blue;
            font-size: 1.1em;
        }
    }
    .address-list{
        h3{
            font-family: $font_heading;
            color: $midnight;
            text-align: center;
        }
        .list{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            .single-address{
                width : 300px;
                padding : 0.4em;
                border: 1px solid $ocen_blue;
                border-radius: 0.3em;
                margin : 0.5em;
                h4{
                    font-family: $font_para;
                    font-size: 0.9em;
                    color: $midnight;
                    margin : 0.3em 0;
                }
                .status{
                    p{
                        font-family: $font_cursive;
                        padding : 0.5em;
                        text-align: center;
                        color:   white;
                        border-radius: 0.3em;
                    }
                    .true{
                        background-color: darken($forest_green,10%);
                    }
                    .false{
                        background-color: $crimson;
                    }
                }
            }
        }
    }
    .contacts{
        h3{
            font-family: $font_heading;
            color: $ocen_blue;
            text-align: center;
        }
        .list{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            
            .single-contact{
                display: flex;
                justify-content: space-between;
                padding : 0.4em;
                margin : 0.3em;
                align-items: center;
                width : 300px;
                background-color: darken($forest_green,20%);
                border-radius: 0.3em;
                h4{
                    font-family: $font_cursive;
                    font-size: 1.1em;
                    color: white;
                    font-weight: 200;
                }
                p{
                    font-family: $font_para;
                    font-size: 1em;
                    color: white;
                }
            }
        }
    }
    .add-address{
        
        .form-group{
            display: flex;
            flex-flow: column;
            align-items: center;
            h4{
                font-family: $abel;
                color: $ocen_blue;
            }
        }
        
        h1{
            @include gradient_text($forest_green,$ocen_blue);
            margin : 0.5em auto;
            @media (max-width : 360px){
                font-size: 1.5em;
            }
        }
        input{
            width : 300px;
            font-family: $abel;
            padding : 0.3em 0.4em;
            margin : 0.3em;
            border-radius: 0.3em;
            border : 1px solid $orange;
            color : $ocen_blue;
        }
        button {
            font-family: $font_heading;
            padding : 0.4em 0;
            width : 300px;
            border-radius: 0.3em;
            background-image: linear-gradient(
                to bottom,
                $forest_green,
                darken($forest_green,10%),
            );
            border: none;
            @include btn_interaction;
            color: white;
            margin : 0.5em;
        }
        
    }
    .add-contact{
        .form-group{
            display: flex;
            flex-flow: column;
            align-items: center;
            h3{
                font-family: $abel;
                color: $ocen_blue;
            }
            input{
                width : 300px;
                font-family: $abel;
                padding : 0.3em 0.4em;
                margin : 0.3em;
                border-radius: 0.3em;
                border : 1px solid $orange;
                color : $ocen_blue;
            }
            button {
                font-family: $font_heading;
                padding : 0.4em 0;
                width : 300px;
                border-radius: 0.3em;
                background-image: linear-gradient(
                    to bottom,
                    $forest_green,
                    darken($forest_green,10%),
                );
                border: none;
                @include btn_interaction;
                color: white;
                margin : 0.5em;
            }
        }
    }
}

.logout-btn{
    font-size: 1.3em;
    font-family: $font_heading;
    background-color: $crimson;
    padding : 0.4em 0.5em;
    color: white;
    @include btn_interaction;
    border: none;
    border-radius: 0.3em;
    margin : 0.5em 0;
}


.edit-profile-btn{
    padding : 0.3em 0.6em;
    background-color: $ocen_blue;
    color: white;
    font-size: 1.1em;
    border-radius: 0.3em;
    font-family: $font_heading;    
    text-decoration: none;
    @include btn_interaction;
    margin-top: 0.4em;
}