.reset-password{
    position: relative;
    width: 100vw;
    height : 100vh;
    
    .form{
        position: absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50%,-50%);
        .password-reset-success{
            width : 300px;
            background-color: rgba($forest_green,0.5);
            padding : 0.5em;
            h4{
                font-family: $abel;
                color: green;
                a{
                    text-decoration: none;
                    color: green;
                    font-family: $anton;
                    letter-spacing: 1px;
                }
            }
        }
        h1{
            font-size: 2em;
            @media (max-width : 420px){
                font-size: 1.5em;
            }
        }
        .sub-nav{
            margin : 0.3em 0;
            width : 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4{
                color: $ocen_blue;
                font-family: $font_para;
            }
            a{
                color: $maastricth_blue;
                font-family: $font_cursive;
                text-decoration: none;
    
            }
        }
    }
}