.terms{
    height: 100vh;
    width : 100vw;
    overflow: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    h1{
        @include gradient_text($ocen_blue,$maastricth_blue);
        @media (max-width : 420px){
            font-size: 1.6em;
        }
        margin-top : 0.5em;
    }
    img {
        width : 150px;
        width: 150px;
    }
    h3{
        font-family: $font_para;
        color: $ocen_blue;
    }
    .terms-list{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin : 0.5em auto;
        padding-bottom: 6em;
        .single-term{
            width : 300px;
            margin : 0.5em;
            padding : 0.5em;
            background-color: rgba($midnight , 0.2);
            border-radius: 5px;
            h4{
                text-transform: capitalize;
                font-family: $font_cursive;
                color: $maastricth_blue;
                font-size: 1.3em;
                margin : 0.3em 0;
            }
            p{
                font-family: $font_para;
                color: $midnight;
                font-size: 0.7em;
            }
        }
        

    }
}